<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>jChess Examples</title>
	<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="stylesheets/chess.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
  <script src="javascripts/jchess-0.1.0.js"></script>
  <script src="javascripts/app.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="gotd">
    <h1>Game of the day</h1>
    <h2>Please wait &hellip;</h2>
    <p></p>
    <div id="board"><div id="board-loading"></div></div>	
    <div id="board-nav">
      <a id="board-back" href="#">Back</a>
      <a id="board-next" href="#">Next</a>
      <a id="board-flip" href="#">Flip</a>
    </div>    
  </div>
</div>

</body>
</html>
